
.main_panel{

width:100%;
max-width: 625px;
display: -webkit-flex; 
display: flex;
padding: 5px; 
// border: 1px solid red;
flex-wrap: wrap;
// justify-content: center;
}


.number_button
{

width:36px;
height:36px;
margin:2px;
background-color: khaki;
border-radius: 2px;
font-size: 22px;
text-align:center;
opacity: 0.8;
line-height: 36px;
box-shadow: inset 1px 1px 1px black;
}


.number_button:hover
{
opacity: 1;
height: 37px;
width: 37px;
}



#spacebar{
clear:both; 
width: 220px;

}

#enter{
width: 50px;
font-size: 18px;
}

#letterDiv{
min-height: 20px;
 width: 95%;
max-width: 610px;

}


#galleryContainer{
width: 86%;
 

}
