*
{
    margin: 0px;
	padding: 0px;
}




header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
     background: black;
}

#big_wrapper{
    width: 100%;
 max-width: 950px;
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    // border: 1px solid white;

}

#topStuff{

    opacity:0.7;
    //	border-bottom: 2px solid  khaki;
}

#top_header{
	font: bold 25px Tahoma; 
    color: khaki;
   //  opacity:0.9;
	}

#flag{
font-size: 12px;
}


#inputDiv{
background: #FFFFCC;
padding: 5px;
font: 17px Ariana black;

}






