


.number_button
{

width:30px;
height:30px;
margin:2px;
background-color: khaki;
border-radius: 2px;
font-size: 22px;
text-align:center;
opacity: 0.8;
line-height: 30px;
box-shadow: inset 1px 1px 1px black;
}


.number_button:hover
{
opacity: 1;
height: 31px;
width: 31px;
}



#spacebar{
clear:both; 
width: 250px;
// margin-left: 50px;
}

#enter{
width: 50px;
font-size: 18px;
}






