body{
background: black;
}

.main_panel{

width:100%;
max-width: 625px;
display: -webkit-flex; 
display: flex;
padding: 5px; 
// border: 1px solid red;
flex-wrap: wrap;
// justify-content: center;
}


.number_button
{

width:38px;
height:38px;
margin:2px;
background-color: khaki;
border-radius: 3px;
font-size: 23px;
text-align:center;
opacity: 0.8;
line-height: 38px;
box-shadow: inset 1px 1px 1px black;
}


.number_button:hover
{
opacity: 1;
height: 39px;
width: 39px;
}



#spacebar{
clear:both; 
width: 250px;
margin-left: 50px;
}

#enter{
width: 50px;
font-size: 18px;
}



textarea{
background:#FFFFCC;
font-size: 24px;
opacity: 0.8;
box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
padding: 10px;
}


#letterDiv{
min-height: 200px;
width: 100%;
max-width: 610px;
background:#FFFFCC;
font-size: 24px;
opacity: 0.8;
box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
padding: 10px;
z-index: -1;
}


